<header class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">

  <a class="navbar-brand" href="https://www.ipswichekiden.co.uk" target="_blank" (click)="navbarCollapsed = true">Ekiden</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/home']" (click)="navbarCollapsed = true">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/seniors']" (click)="navbarCollapsed = true">Seniors</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/juniors']" (click)="navbarCollapsed = true">Juniors</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/statistics']" (click)="navbarCollapsed = true">Statistics</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/register']" (click)="navbarCollapsed = true">Register</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="['/dashboard']" (click)="navbarCollapsed = true">My Teams</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/contact']" (click)="navbarCollapsed = true">Contact</a>
      </li>
    </ul>
    <app-status></app-status>
  </div>
</header>
<main role="main">
  <app-messages></app-messages>
  <router-outlet></router-outlet>
  <hr/>
</main>
<footer class="container">
  <p class="text-align: center">&copy; Ipswich Ekiden Relays 2018</p>
</footer>