<h2>Team Details</h2>
<div class="container" *ngIf="team">
 <h5>{{team.name}}</h5>
 <h6 class="text-muted">{{team.category}}</h6>
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>    
    <tr *ngFor="let leg of [1,2,3,4,5,6]">
      <th scope="row">{{leg}}</th>
      <td>{{ getRunnerProperty(team, leg, 'name') }}</td>
      <td>{{ getRunnerProperty(team, leg, 'ageCategoryCode') }}</td>
    </tr>    
  </tbody>
</table>
</div>