<h2>Team Details</h2>
<div class="container" *ngIf="team">
  <h4>{{team.name}}</h4>
  <h6>
    <strong>Category</strong>: {{(team.category) ? team.category : 'Uncategorized'}}; Number: {{team.number}}</h6>
  <p>Complete? {{team.complete ? 'Yes' : 'No'}}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leg of legs" [hidden]="leg > 4 && team.isJuniorTeam == 1">
        <th scope="row">{{leg}}</th>
        <td *ngIf="getRunnerProperty(team.runners, leg, 'name') as name; else noNameDeclared">{{name}}</td>
        <ng-template #noNameDeclared>
          <td>
            <span class="font-italic font-weight-light">Not declared</span>
          </td>
        </ng-template>
        <td *ngIf="getRunnerProperty(team.runners, leg, 'gender') as gender; else notDeclared">{{gender}}</td>
        <td *ngIf="getRunnerProperty(team.runners, leg, 'ageCategory') as ageCategory; else notDeclared">{{ageCategory}}</td>
        <ng-template #notDeclared>
          <td>
            <span class="font-weight-light">-</span>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>