<br/>
<h3>Administration</h3>
<p>Use this page to assigned team numbers to declared teams and to preview teams that can be emailed to the Chip Timing providers
  as CSV attachments.</p>
<hr/>
<h5>Assign Team Numbers</h5>
<div class="loading" *ngIf="loadingIndicator.seniors">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loadingIndicator.seniors">
  <h6>Senior Teams</h6>
  <form #saveTeamNumbers="ngForm" (ngSubmit)="updateSeniorTeamNumbers();">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of seniorTeams | paginate: { itemsPerPage: 10, currentPage: seniorTeamsCurrentPageNumber, id: 'seniorTeamsList'}">
          <td>{{team.name}} - (
            <em>{{team.clubName}})</em>
          </td>
          <td>
            <input autofocus type="number" [(ngModel)]="team.number" name="number-{{team.id}}" />
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
            <button type="submit" class="form-control btn btn-primary">Save</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
  <br>
  <div class="text-center">
    <pagination-controls (pageChange)="seniorTeamsCurrentPageNumber = $event" id="seniorTeamsList"></pagination-controls>
  </div>
</div>
<div class="loading" *ngIf="loadingIndicator.juniors">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loadingIndicator.juniors">
  <h6>Junior Teams</h6>
  <form #saveTeamNumbers="ngForm" (ngSubmit)="updateJuniorTeamNumbers();">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of juniorTeams | paginate: { itemsPerPage: 10, currentPage: juniorTeamsCurrentPageNumber, id: 'juniorTeamsList'}">
          <td>{{team.name}} - (
            <em>{{team.clubName}})</em>
          </td>
          <td>
            <input autofocus type="number" [(ngModel)]="team.number" name="number-{{team.id}}" />
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
            <button type="submit" class="form-control btn btn-primary">Save</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
  <br>
  <div class="text-center">
    <pagination-controls (pageChange)="juniorTeamsCurrentPageNumber = $event" id="juniorTeamsList"></pagination-controls>
  </div>
</div>
<hr/>
<h5>Submit Teams</h5>
<div class="loading" *ngIf="loadingIndicator.preview">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loadingIndicator.preview">
  <form #sendDeclarations="ngForm" (ngSubmit)="send();">
    <div class="form-row">
      <div class="form-group col-md-10">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" name="email" [(ngModel)]="download.email" #email="ngModel" required />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Destination email is required.
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="submit">&nbsp;</label>
        <button *ngIf="!formSubmittedIndicator" id="submit" type="submit" class="form-control btn btn-primary" [disabled]="!sendDeclarations.form.valid">Send</button>
        <img *ngIf="formSubmittedIndicator" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </div>
    </div>
  </form>
  <h6>Senior Teams</h6>
  <p>Preview of what we be sent as a CSV attachment to the requested email for the senior teams. Only teams that have been allocated
    a
    <strong>Team Number</strong> are included.</p>
  <table class="table table-striped table-sm">
    <tbody>
      <tr *ngFor="let row of seniorData | paginate: { itemsPerPage: 10, currentPage: seniorsCurrentPageNumber, id: 'seniors'}">
        <td *ngFor="let header of seniorHeaders">{{row[header]}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="text-center">
    <pagination-controls (pageChange)="seniorsCurrentPageNumber = $event" id="seniors"></pagination-controls>
  </div>
  <h6>Junior Teams</h6>
  <p>Preview of what we be sent as a CSV attachment to the requested email for the junior teams. Only teams that have been allocated
    a
    <strong>Team Number</strong> are included.</p>
  <table class="table table-striped table-sm">
    <tbody>
      <tr *ngFor="let row of juniorData| paginate: { itemsPerPage: 10, currentPage: juniorsCurrentPageNumber, id: 'juniors' }">
        <td *ngFor="let header of juniorHeaders">{{row[header]}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="text-center">
    <pagination-controls (pageChange)="juniorsCurrentPageNumber = $event" id="juniors"></pagination-controls>
  </div>
</div>