/* teamsComponent's private CSS styles */
.selected {
  background-color: #e9ecef !important;
  border: 1px solid #42A948;
}

.teams li {
  cursor: pointer;
}

.teams li.selected:hover {
  background-color: #343a40!important;
  color: white;
}

.teams li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

svg{
  width: 150px;
  height: 150px;
  margin: 20px;
  display:inline-block;
}

.loading {
  text-align: center;
}