/* teamsComponent's private CSS styles */
.selected {
  background-color: #F9F9F9 !important;
  border: 2px solid black;
}

.teams li {
  cursor: pointer;
}

.teams li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.teams li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}