<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Teams</h2>
      <div class="container">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Search</span>
          </div>
          <input type="text" class="form-control" placeholder="Team name or club name or category" [(ngModel)]="searchString">
        </div>
        <div class="list-group teams">    
          <li *ngFor="let team of teams | FilterPipe: searchString : searchableList | paginate: { itemsPerPage: 10, currentPage: currentPageNumber }" 
              class="list-group-item list-group-item-action flex-column align-items-start mb-1" 
              [class.selected]="selectedTeam && team.id === selectedTeam.id"
              (click)="showTeam(team)">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{team.name}}</h5>
              <span class="badge badge-pill" [ngClass]="(team.complete) ? 'badge-success' : 'badge-warning'">{{team.complete ? 'Complete' : 'Incomplete'}}</span>
            </div>
            <p class="mb-1">Affiliated Club: {{team.clubName}}</p>
            <small><strong>Category</strong>: {{(team.category) ? team.category : 'Uncategorized'}}; Id: {{team.id}}</small>
          </li>
        </div>
        <br>
        <div class="text-center">
          <pagination-controls (pageChange)="currentPageNumber = $event"></pagination-controls>
        </div>
      </div>
    </div>    
    <div class="col-md-4">
      <app-team-detail [team]="selectedTeam"></app-team-detail>
    </div>     
  </div>
</div> <!-- /container -->    