<h3>My Teams</h3>
  <form>
    <div class="form-group">
      <label for="teamName">Team Name</label>
      <input type="text" class="form-control" id="teamName">
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="category">Category</label>
      <select id="category" class="form-control">
          <option selected>Choose...</option>
          <option *ngFor="let key of keys" [value]="key">{{categories[key]}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="club">UKA Club</label>
      <select id="club" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
       <label for="submit">&nbsp;</label>
       <button id="submit" type="submit" class="form-control btn btn-primary">Add</button>
    </div>
  </div>
</form>

<ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="toggle-1" title="First panel">
    <ng-template ngbPanelContent>
      <ngx-datatable
        class="bootstrap"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [limit]="10"
        [rowHeight]="'auto'">
      </ngx-datatable>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-2" title="Second">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
