.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

svg{
  width: 150px;
  height: 150px;
  margin: 20px;
  display:inline-block;
}

.loading {
  text-align: center;
}