<h3>My Teams</h3>
  <form>
    <div class="form-group">
      <label for="teamName">Team Name</label>
      <input type="text" class="form-control" id="teamName">
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="category">Category</label>
      <select id="category" class="form-control">
          <option selected>Choose...</option>
          <option *ngFor="let key of keys" [value]="key">{{categories[key]}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="club">UKA Club</label>
      <select id="club" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
       <label for="submit">&nbsp;</label>
       <button id="submit" type="submit" class="form-control btn btn-primary">Add</button>
    </div>
  </div>
</form>

<div class="card" *ngFor="let team of teams | async; trackBy: trackById;">  
  <div class="card-header">
    <button class="btn btn-link" (click)="team.isCollapsed = !team.isCollapsed">
          {{team.name}}
        </button>    

  </div>
  <div class="card-body" [ngbCollapse]="!team.isCollapsed">
    <h5 class="card-title">Special title treatment</h5>
    <ngx-datatable
        class="bootstrap"
        [rows]="teams.members | async"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [limit]="10"
        [rowHeight]="'auto'">
      </ngx-datatable>
      <button class="btn" (click)="logMe(team)">Log</button>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>