<div class="jumbotron">
  <div class="container">
    <h1>Welcome to {{ title }}! </h1>
    <p class="lead">New for 2018 is the online Ekiden Team Declaration portal.</p>
    <p class="my-4">Here team captains can register themselves and the login to declare their teams for their affiliated club or social team. You can make as many changes as you like and the submitted teams at 9am on race day will be taken as the final team declaration.</p>
    <p class="my-4">You can also see what other teams have entered and search by name, club or category.</p>
  </div>
</div>
<app-teams [title]="Senior Teams"></app-teams>