<div class="jumbotron">
  <div class="container">
    <h1>Welcome to {{ title }}! </h1>
    <p class="lead">New for 2018 is the online Ekiden Team Declaration portal.</p>
    <p class="my-4">Here team captains can register themselves and the login to declare their teams for their affiliated club or social team.
      You can make as many changes as you like and the submitted teams at 9am on race day will be taken as the final team
      declaration.
    </p>
    <p class="my-4">You can also see what other teams have entered and search by name, club or category.</p>
  </div>
</div>
<div class="container">
  <h3>Instructions</h3>
  <p>Team captain will need to register with this site before creating and declaring their teams. Both junior and senior teams
    can be created and editted and teams can be created before all team runners are known. When all required team runners
    are declared the system shall determine the team category based on the data entered. The rules for this calculation are
    summaried below.</p>
  <p>For any queries regarding the new portal or for entry declaration support please use the contact form to get in touch.</p>

  <h3>Senior Categories</h3>
  <p>Any incomplete teams will not show a category and will be labelled as Uncategorized.</p>
  <dl>
    <dt>Category: Unaffiliated / Social</dt>
    <dd>Any non-affiliated UK Athletics team</dd>
    <dt>Category: MensOpen</dt>
    <dd>All runners are male and the youngest runner category is Open.</dd>
    <dt>Category: MensVet</dt>
    <dd>All runners are male and the youngest runner category is V40.</dd>
    <dt>Category: MensSuperVet</dt>
    <dd>All runners are male and the youngest runner category is V50.</dd>
    <dt>Category: LadiesOpen</dt>
    <dd>All runners are female and the youngest runner category is Open.</dd>
    <dt>Category: LadiesVet</dt>
    <dd>All runners are female and the youngest runner category is V35.</dd>
    <dt>Category: LadiesSuperVet</dt>
    <dd>All runners are female and the youngest runner category is V45.</dd>
    <dt>Category: Over60</dt>
    <dd>Youngest runner category is V60. Mixed teams allowed.</dd>
    <dt>Category: Over70</dt>
    <dd>Youngest runner category is V70. Mixed teams allowed.</dd>
    <dt>Category: Mixed</dt>
    <dd>Mixed team of any age with at least two female runners.</dd>
  </dl>
  <p>Any affiliated team not fitting the above criteria will default to the MensOpen category. e.g. 1 female in the team of under
    60 year olds.</p>
  <h3>Junior Categories</h3>
  <p>Any incomplete teams will not show a category and will be labelled as Uncategorized.</p>
  <dl>
    <dt>Category: U11B - Under 11 boys</dt>
    <dd>All runners are male and the youngest runner category is U11.</dd>
    <dt>Category: 12B - Aged 12 or over, boys</dt>
    <dd>All runners are male and the youngest runner category is U16.</dd>
    <dt>Category: U11G - Under 11 girls</dt>
    <dd>All runners are female and the youngest runner category is U11.</dd>
    <dt>Category: 12G - Aged 12 or over, girls</dt>
    <dd>All runners are female and the youngest runner category is U16.</dd>
    <dt>Category: U11MX - Under 11 year old. Mixed</dt>
    <dd>Mixed team and the youngest runner category is U11.</dd>
    <dt>Category: 12MX - Aged 12 or over. Mixed</dt>
    <dd>Mixed team and the youngest runner category is U16.</dd>
  </dl>
</div>
